{% extends "base.html.twig" %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('build/form.css') }}" rel="stylesheet"/>
{% endblock %}

{% block title %}
	Register
{% endblock %}

{% block body %}
	<div style="display:flex; flex-direction: column; min-width:0">
		{{ form(registrationForm )}}
			{{ form(registrationCsv) }}

			</div>
		{% endblock %}
