<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ asset("css/app.css" )}}">
    <title>{% block title %} Sortir ENI {% endblock %}</title>
</head>
<body>

<div>
    <header>
        {# insertion de l'entete #}
        {% block nav %}
            Mon bloc nav
        {% endblock %}
    </header>

    {# affichage des erreurs #}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <main>
        {# insertion du contenu principal de la page #}
        {% block content %}
            mon block content
        {% endblock %}
    </main>
</div>

</body>
</html>