@import './mixins.scss';

nav {
  * {
    color: white;
    position: relative;
    button {
      @include shadow;
      border-radius: 5px;
      background: #2f3036;
      padding: 9px 5px 9px 5px;
      margin: 5px 5px 5px 5px;
      &:hover {
        @include color(bluel);
        a {
          color: #24252a;
        }
      }
    }
  }

  .hamber {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    padding: 0;
    box-shadow: none;
  }
  .line {
    fill: none;
    stroke: white;
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
      stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }
  .line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
  }
  .line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }
  .opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }
  .opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
  }
  .opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }

  .hamber[class='hamber opened'] ~ .link {
    visibility: visible;
  }

  @include shadow;
  @include flex(space-between, center);
  padding: 0 20px 0 20px;
  background: #24252a;
  height: 75px;

  .logo {
    @include flex(none, center);
    * {
      cursor: pointer;
    }
    img {
      border-radius: 50%;
    }
    text-decoration: none;
    text-align: center;

    label {
      margin: 0;
      font-size: 25px;
      @include bold;
    }

    img {
      width: 50px;
      margin: 0 20px 0 0;
    }
  }

  .link {
    @include flex(none, none, column);
    background: inherit;
    padding: 10px;
    border-radius: 0 0 0 10px;
    top: 75px;
    right: 0;
    z-index: 1;
    position: absolute;
    visibility: hidden;
  }
}
