@import './mixins.scss';

nav {
  * {
    color: white;
    position: relative;
    button {
      @media screen and (max-width: 1200px) {
        margin: 5px 0 5px 0;
      }

      @include shadow;
      border-radius: 5px;
      background: #2f3036;
      padding: 9px 5px 9px 5px;
      margin: 0 5px 0 5px;
      &:hover {
        @include color(bluel);
        a {
          color: #24252a;
        }
      }
    }
  }

  #hamb {
    display: none;
  }
  @media screen and (min-width: 1200px) {
    .hambWrapper {
      display: none;
    }
  }

  @media screen and (max-width: 1200px) {
    #hamb:checked ~ .link {
      @include flex(none, none, column);
    }
  }

  @include shadow;
  @include flex(space-between, center);
  padding: 0 20px 0 20px;
  background: #24252a;
  height: 75px;

  .logo {
    @include flex(none, center);
    * {
      cursor: pointer;
    }
    img {
      border-radius: 50%;
    }
    text-decoration: none;
    text-align: center;

    label {
      margin: 0;
      font-size: 25px;
      @include bold;
    }

    img {
      width: 50px;
      margin: 0 20px 0 0;
    }
  }

  .link {
    @media screen and (max-width: 1200px) {
      background: inherit;
      padding: 10px;
      border-radius: 0 0 0 10px;
      top: 75px;
      right: 0;
      z-index: 1;
      position: absolute;
      display: none;
      transition: width 2s all;
    }
    a {
      text-decoration: none;
      margin: 0 10px 0 10px;
    }
  }
}
