{% extends 'base.html.twig' %}

{% block title %}Créer une sortie{% endblock %}

{% form_theme sortieForm 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <div>
        {{ form_start(sortieForm, {attr: {novalidate:'novalidate'}})}}


        {{ form_widget(sortieForm) }}
        <button value="enregistrer">Enregistrer</button>
        <button value="publier">Publier la sortie</button>
        <a href=""><button>Annuler</button></a>
        {{ form_end(sortieForm) }}

    </div>
{% endblock %}
