{% extends 'base.html.twig' %}

{% block body %}
    <div class="container -md">
        <h3>Enregistrer une nouvelle ville</h3>
        <div class="form-group">
            {{ include('ville/_form.html.twig') }}
        </div>
        <a href="{{ path('ville_lister') }}">Retour à la liste</a>

    </div>
{% endblock %}
