{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('build/form.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
    <div class="container -md">
    <h3>Enregistrer un nouveau campus</h3>
<div class="form-group">
    {{ include('campus/_form.html.twig') }}
    </div>
    </div>
{% endblock %}
